asgiref==3.7.2
attrs==23.1.0
btrfsutil==6.7
cffi==1.16.0
click==8.1.7
crit==3.18
cryptography==41.0.7
dbus-python==1.3.2
Django==5.0.1
libinput-gestures-qt==0.3
mercurial==6.6.2
nftables==0.1
packaging==23.2
ply==3.11
podman-compose==1.0.6
protobuf==4.25.2
pycparser==2.21
PyGObject==3.46.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
python-dotenv==1.0.1
PyYAML==6.0.1
QTermWidget==1.4.0
Reflector==2023.6.28.0.36.1
smbus==1.1
sqlparse==0.4.4
